#heading {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

#heading h1 {
  font-family: Helvetica;
  font-size:100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

#brushes h2 {
  background-color:mediumspringgreen;
}

#frames h2 {
  background-color:lightcoral;
}

#paint h2 {
  background-color:skyblue;
}

h2 {
  font-family: Helvetica;
  font-size:32px;
  font-weight: bold;
  color:white;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
